[submodule "src/classes/HTReader"]
	path = src/classes/HTReader
	url = https://github.com/damian-barsotti/HTReader.git
	branch = main
[submodule "src/classes/WiFiSetup"]
	path = src/classes/WiFiSetup
	url = https://github.com/damian-barsotti/WiFiSetup.git
